*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#999;
}
.help{
    color:white;
    background-color: #7fb802;
    padding:8px 10px 10px;
    border-radius:4px 4px 0 0;
    position:fixed;
    bottom:0;
    right: 200px;
    font-size: 14px;
}
.blu{
    background-color: #0d325a;
    background-image: url('https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png');
    background-position: 170% bottom;
    background-repeat: no-repeat;
    background-size: 980px 415px;
}
.container{
    width:85%;
    max-width: 1200px;
    margin:0 auto;
}
/* da cancellare */
section .container{
    height:100%;
}
nav.container{
    height:70px;
}
nav{
    text-transform: uppercase;
    position: relative;
    padding: 16px;
}
nav #logo{
    float:left;

}
#menù{
    float:left;
    padding-left:50px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 11px;
}
#menù li{
    display:inline-block;
    line-height: 38px;
    padding:0 7px;
    letter-spacing: 0.5px;
}
#menù li a{
    color:white;
    text-decoration: none;
}
.cta{
    float:right;
    height:38px;
    margin-top:9px;
}
button{
    font-weight: bold;
    font-size: 11px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
}
button#tutor{
    background-color:rgba(0,0,0,0);
    margin-right:9px;
    border:none;
}
button#log-in{
    border: 1px solid #4e8cb6;
    border-radius: 5px;
    background-color:rgba(0,0,0,0);
    padding: 8px 25px;
}
button#piano{
    background-color: #7fb802;
    border: 1px solid #7fb802;
    border-radius: 5px;
    padding: 8px 10px;
}
.banner.container{
    height: 420px;
    color:white;
    position:relative;
}
.due-colonne{
    width:50%;
    height:420px;
    margin:0 auto;
    float:left;
}
.banner h1{
    font-size: 45px;
}
.text{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
}
.text #piano{
    padding:13px 20px;
    position: relative;
    top:40px;
}
.grigio{
    background-color: #f9f9f9;
    text-align: center;
    padding:40px 20px;
}
.grigio h4{
    font-size:24px;
    margin:5px;
}
.grigio p{
    margin:5px;
}
.tre-colonne{
    width:33.3333%;
    height:100%;
    margin:0 auto;
    float:left;
    padding: 0 10px;
}
.bianco{
    background-color: #fff;
    padding:30px 0;
    text-align: center!important;
}
.bianco h6{
    font-size: 23px;
    color:#7fb802;
    font-weight: 400;
    min-height: 60px;
}
.bianco hr{
    width: 32px;
    border-top: 2px solid lightgrey;
    margin:10px 50%;
}
.bianco p{
    font-size: 15px;
    line-height: 25px;
}
.tre-colonne .immagine img{
    height: 150px;
    margin-bottom:70px;
}

/* sistemare grandezza font nel banner */
/* controllare margini area grigia */
/* in 'bianco' centrare hr */
/* hover */
